*



!/1/
!/1/sum_prod_avg.py
!/1/swap.py



!/2/
!/2/nthroot.py



!/3/
!/3/nprimes.py
!/3/prime_flowchart.png
!/3/prime.py



!/4/
!/4/gcf_lcm_squares.py



!/5/
!/5/anagram.py
!/5/list_sum_avg.py
!/5/palindrome.py
!/5/resistance.py
!/5/vowels.py



!/6/
!/6/ndigit_binary.py
!/6/pascal_nthline.py



!/sp1/
!/sp1/hospital.pdf
!/sp1/hospital.py
!/sp1/hospital.tex



!/.gitignore
!/LICENSE
!/README.md
